{% extends 'blog/basic.html' %}
{%block title%}  Title of blog{%endblock%}
{% block body %} 
<div class="container">
<div class="row mt-4">
  {% for article in articles  %}
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">World</strong>
        <h3 class="mb-0">Featured post</h3>
        <div class="mb-1 text-muted">{{article.publish_date}}</div>
        <p class="card-text mb-auto"> {{article.chead0|slice:"0:50"}}....</p>
        <a href="blogpost/{{article.post_id}}" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{{article.thumbnail.url}}"  height="220px" width="250px" alt="">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}